In [1]:
import pandas as pd
from statsmodels.imputation import mice

# import submission function
from data_munge import make_country_sub, impute

Input shape:	(8203, 344)
After standardization (8203, 344)
After converting categoricals:	(8203, 859)
Input shape:	(3255, 441)
After standardization (3255, 441)
After converting categoricals:	(3255, 1432)
Input shape:	(6469, 163)
After standardization (6469, 163)
After converting categoricals:	(6469, 795)
Input shape:	(37560, 41)
After standardization (37560, 41)
After converting categoricals:	(37560, 274)
Input shape:	(20252, 224)
After standardization (20252, 224)
After converting categoricals:	(20252, 1641)
Input shape:	(29913, 41)
After standardization (29913, 41)
After converting categoricals:	(29913, 300)
Input shape:	(4041, 344)
After standardization (4041, 344)
After converting categoricals:	(4041, 851)
Input shape:	(1604, 441)
After standardization (1604, 441)
After converting categoricals:	(1604, 1419)
Input shape:	(3187, 163)
After standardization (3187, 163)
After converting categoricals:	(3187, 773)
Input shape:	(18535, 41)
After standardization (18535, 41)
After converting categoricals:	(18535, 273)
Input shape:	(10066, 224)
After standardization (10066, 224)
After converting categoricals:	(10066, 1534)
Input shape:	(14701, 41)
After standardization (14701, 41)
After converting categoricals:	(14701, 301)

In [2]:
# import the raw training data for reference
from data_munge import a_i_train, a_h_train, b_i_train, b_h_train, c_i_train, c_h_train

# import the preprocessed test data
from data_munge import a_i_test, a_h_test, b_i_test, b_h_test, c_i_test, c_h_test

# import the preprocessed data
from data_munge import aX_h_train, ay_h_train, bX_h_train, by_h_train, cX_h_train, cy_h_train
from data_munge import aX_i_train, ay_i_train, bX_i_train, by_i_train, cX_i_train, cy_i_train

In [5]:
index = bX_h_train.index

In [2]:
bX_h_train.drop(labels='id')

ValueError: labels ['id'] not contained in axis

In [9]:
bX_h_train = impute(bX_h_train)

In [10]:
bX_h_train.head()

,wJthinfa,ZvEApWrk,vuQrLzvK,FGWqGkmD,qrOrXLPM,BXOWgPgL,umkFMfvA,McFBIGsm,NjDdhqIe,rCVqiShm,...,rljjAmaN_akDoa,rljjAmaN_fEsQq,rljjAmaN_gPPdN,ChbSWYhO_BgSQe,ChbSWYhO_Enull,ChbSWYhO_LgZDV,ChbSWYhO_OPpaN,ChbSWYhO_fWqni,ChbSWYhO_zmaYX,country_B
id,,,,,,,,,,,,,,,,,,,,,
57071,-0.060772,0.065928,0.687955,0.051587,-0.890950,0.013212,0.330457,0.024975,0.087650,0.569923,...,0,0,0,0,1,0,0,0,0,1
18973,-0.412754,-0.928796,1.034898,0.051587,-0.890950,0.013212,0.330457,0.024975,-0.891198,0.192433,...,0,0,0,0,1,0,0,0,0,1
20151,-0.412754,2.055376,1.104287,0.051587,0.258037,0.013212,0.330457,0.024975,2.045347,0.720918,...,0,0,0,0,1,0,0,0,0,1
5730,0.643192,0.397503,-1.130026,0.051587,0.258037,-0.067086,0.330457,0.024975,0.413933,0.003688,...,0,0,0,0,1,0,0,0,0,1
35033,3.459047,-0.265647,-0.991249,0.051587,0.258037,-1.271564,0.330457,-1.899275,-0.238632,0.381178,...,0,0,0,0,1,0,0,0,0,1

In [11]:
bX_h_train_impute.head()

,wJthinfa,ZvEApWrk,vuQrLzvK,FGWqGkmD,qrOrXLPM,BXOWgPgL,umkFMfvA,McFBIGsm,NjDdhqIe,rCVqiShm,...,rljjAmaN_akDoa,rljjAmaN_fEsQq,rljjAmaN_gPPdN,ChbSWYhO_BgSQe,ChbSWYhO_Enull,ChbSWYhO_LgZDV,ChbSWYhO_OPpaN,ChbSWYhO_fWqni,ChbSWYhO_zmaYX,country_B
id,,,,,,,,,,,,,,,,,,,,,
57071,-0.060772,0.065928,0.687955,0.051587,-0.890950,0.013212,0.330457,0.024975,0.087650,0.569923,...,0,0,0,0,1,0,0,0,0,1
18973,-0.412754,-0.928796,1.034898,0.051587,-0.890950,0.013212,0.330457,0.024975,-0.891198,0.192433,...,0,0,0,0,1,0,0,0,0,1
20151,-0.412754,2.055376,1.104287,0.051587,0.258037,0.013212,0.330457,0.024975,2.045347,0.720918,...,0,0,0,0,1,0,0,0,0,1
5730,0.643192,0.397503,-1.130026,0.051587,0.258037,-0.067086,0.330457,0.024975,0.413933,0.003688,...,0,0,0,0,1,0,0,0,0,1
35033,3.459047,-0.265647,-0.991249,0.051587,0.258037,-1.271564,0.330457,-1.899275,-0.238632,0.381178,...,0,0,0,0,1,0,0,0,0,1

In [12]:
from sklearn.ensemble import RandomForestClassifier

def train_model(features, labels, **kwargs):
    
    # instantiate model
    model = RandomForestClassifier(n_estimators=50, random_state=0)
    
    # train model
    model.fit(features, labels)
    
    # get a (not-very-useful) sense of performance
    accuracy = model.score(features, labels)
    print(f"In-sample accuracy: {accuracy:0.2%}")
    
    return model

In [13]:
model_a = train_model(aX_h_train, ay_h_train)

In-sample accuracy: 100.00%

In [14]:
model_b = train_model(bX_h_train, by_h_train)

In-sample accuracy: 99.94%

In [15]:
model_c = train_model(cX_h_train, cy_h_train)

In-sample accuracy: 100.00%

In [16]:
b_h_test_imputed = impute(b_h_test)

In [17]:
a_preds = model_a.predict_proba(a_h_test)
b_preds = model_b.predict_proba(b_h_test_imputed)
c_preds = model_c.predict_proba(c_h_test)

In [18]:
a_sub = make_country_sub(a_preds, a_h_test, 'A')
b_sub = make_country_sub(b_preds, b_h_test_imputed, 'B')
c_sub = make_country_sub(c_preds, c_h_test, 'C')

In [19]:
submission = pd.concat([a_sub, b_sub, c_sub])

In [ ]:
submission_old = pd.read_csv('submissions/imputation_household_2.csv', index_col='id')

In [29]:
submission_old == submission

       country  poor
id
418       True  True
41249     True  True
16205     True  True
97501     True  True
67756     True  True
17938     True  True
19036     True  True
61587     True  True
57571     True  True
64203     True  True
30762     True  True
41072     True  True
46727     True  True
78263     True  True
58110     True  True
13124     True  True
71752     True  True
75036     True  True
68309     True  True
5668      True  True
27937     True  True
60163     True  True
97835     True  True
7186      True  True
36143     True  True
3465      True  True
29970     True  True
60973     True  True
31451     True  True
82565     True  True
...        ...   ...
51512     True  True
52284     True  True
2281      True  True
50913     True  True
37129     True  True
64351     True  True
89726     True  True
91465     True  True
30676     True  True
98493     True  True
88475     True  True
96504     True  True
51200     True  True
94912     True  True
7588      True  True
35668     True  True
6137      True  True
87474     True  True
99992     True  True
8544      True  True
63899     True  True
72790     True  True
1588      True  True
254       True  True
68171     True  True
6775      True  True
88300     True  True
35424     True  True
81668     True  True
98377     True  True

[8832 rows x 2 columns]

In [31]:
test[test["poor"] == False]

       country   poor
id
21136     True  False
78307     True  False

In [35]:
submission_old.loc[(21136, 78307),]

      country  poor
id
21136       B  0.44
78307       B  0.40

In [36]:
submission.loc[(21136, 78307),]

      country  poor
id
21136       B  0.42
78307       B  0.38

In [38]:
submission_oldest.loc[(21136, 78307),]

      country  poor
id
21136       B  0.44
78307       B  0.40

In [37]:
submission_oldest = pd.read_csv('submissions/imputation_household.csv', index_col='id')